#mainMenu ul li#mobile-toggle {
 display: none;
}

@media screen and (max-width: 1035px) {
  body {
    background-repeat: repeat-y;
  }
  body, div {
    font-size: 16px;
  }
  #title {
    width: 100%;
    height: auto;
  }
  #title img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    position: relative;
    bottom: -3px;
  }
  #trail {
    z-index: -50;
    margin-left:auto;
    right:0;
  }
  #binocs {
    margin-top: 0;
    margin-left: auto;
    right: 0;
    width: 175px;
    background-size: contain;
    background-position: 30px 0;
  }
  #shadow {
   width: 90%;
   background: none;
   box-shadow: -.5em .5em .5em;
 }
 #hero {
   width:100%;
 }
 #magnify {
   margin-top: -40px;
   margin-left: auto;
   right: 10px;
 }
 #magnify img {
   width: 48px;
   height: auto;
 }
 #midPage {
   width: 100%;
   padding:9px;
 }
 #subMenu {
   margin-left: 0;
   width: 100%;
   padding: 9px;
   /*background: url('images/submenu-bg.png') #e6dbca top left repeat-x;*/
   background: #CAB58A;
   box-shadow: -.5em .5em .5em;
   margin-bottom:1em;
 }
 #subMenu .subMenuBlock {
  width: 48%;
  float: left;
  text-align: center;
  margin-top:.5em;
 }
 #subMenu .subMenuBlock br {
   display: none;
 }
 #subMenu .subMenuBlock #tagline {
   display: block;
 }
 #subMenu .contactBlock {
   float: left;
   width: 98%;
   margin: 0;
   margin-bottom: .5em;
 }
 #subMenu .subMenuBlock + .contactBlock {
   width: 50%;
 }
 #subMenu img#coach {
   margin: auto;
 }
 #subMenu .contactBlock center br {
   display: none;
 }
 #subMenu .contactBlock center b {
   width:100%;
   display:block;
   padding-bottom:1em;
 }
 #subMenu .contactBlock img {
   vertical-align: top;
   margin: .5em;
   max-height: 100px;
   height: auto;
   width: auto;
   max-width: 20%;
 }
 ul.sub_menu {
   width:90%;
   margin-left:5%;
   margin-top:5%;
   list-style: none;
   line-height: 1.25em;
   font-family: times;
 }
 ul.sub_menu li {
   text-indent: 1em;
 }
 #mainMenu {
   width: 100%;
   height: auto;
   margin-left: 0;
   clear:both;
 }
 #mainMenu ul li.page_item, #mainMenu ul li#mobile-toggle {
   float: none;
   overflow: hidden;
   background: none;
   width: 100%;
   height: 4em;
   background: rgba(255, 255, 255, .5);
   margin-bottom:.25em;
   display: none;
 }
 #mainMenu ul li.page_item a, #mainMenu ul li#mobile-toggle a {
   float: none;
   font-size: 100%;
   line-height: 3.5em;
   background: none;
   width: 100%;
   height: 100%;
 }
 #mainMenu ul li#mobile-toggle {
   display: block;
   background: rgba(255, 255, 255, 1);
 }
 #content {
   margin: 5%;
   width: 90%;
   clear: both;
 }
 #logs, #suitecase, #leatherFooter {
   display: none;
 }

}

@media screen and (min-resolution: 2dppx) and (max-width: 1035px), screen and (max-width: 600px) {

}

@media screen and (min-resolution: 2dppx) {
  body, div {
    font-size: 120%;
  }
  #mainMenu ul li.page_item a, #mainMenu ul li#mobile-toggle a {
    font-size: 120%;
  }
  #subMenu .subMenuBlock br {
    display: inline;
  }
  #subMenu .contactBlock img {
    max-height:200px;
    max-width: 40%;
  }
}
